* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Catamaran", sans-serif;
}
/*Header*/
.om-os-header {
  background-color: skyblue;
  width: 100%;
  text-align: center;
}

.om-os-header h2 {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 30px;
}
.om-os-header p {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 2;
  text-align: center;
  padding-bottom: 40px;
}
.om-os-container {
  padding: 100px;
}
.om-os-container article {
  max-width: 1080px;
  margin: 0 auto;
  margin-bottom: 80px;
  display: flex;
}
.om-os-container article img {
  margin-bottom: 120px;
}
.om-os {
  display: flex;
  flex-direction: column;
}
.om-os h1 {
  display: flex;
  justify-content: left;
  font-size: 56px;
  font-weight: bold;
  color: black;
}
.om-os p {
  font-size: 17px;
  color: black;
}
.opening-hours-container {
  background-color: skyblue;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 0px 0 100px 0;
}
.opening-hours-container h1 {
  font-size: 56px;
  font-weight: bold;
  padding: 48px;
  display: flex;
  text-align: center;
}
.opening-hours {
  display: flex;
  flex-direction: column;
  border: 10px solid skyblue;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 400px;
  height: auto;
  padding: 5px;
  align-items: center;
}
.opening-hours h2 {
  font-size: 30px;
  text-align: center;
}
.opening-hours ul {
  margin-left: 70px;
  display: inline-block;
}
.opening-hours ul li {
  font-size: 16px;
  align-items: center;
  text-align: center;
}
.closing-days {
  display: flex;
  flex-direction: column;
  border: 10px solid skyblue;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 400px;
  height: auto;
  padding: 5px;
}
.closing-days h2 {
  font-size: 30px;
  text-align: center;
}
.closing-days ul {
  margin-left: 80px;
  display: inline-block;
}
.closing-days ul li {
  font-size: 16px;
  align-items: center;
  text-align: center;
}
