* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Catamaran", sans-serif;
}

/*Header*/
.om-os-header {
  background-color: skyblue;
  width: 100%;
  text-align: center;
}

.om-os-header h2 {
  font-size: 7rem;
  font-weight: bold;
  text-align: center;
  padding: 30px;
}

/*Om os*/
.om-os-container {
  padding: 100px;
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}

.om-os-container article {
  display: flex;
  flex-direction: column;
}

.om-os-container h1 {
  font-size: 4rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}

.om-os-container img {
  height: 422px;
  display: block;
  margin: 0 auto;
  max-width: 600px;
  border-radius: 5px;
}

.om-os-container p {
  font-size: 1.7rem;
  color: black;
  margin-bottom: 10px;
}

/*Responsiv*/
@media screen and (max-width: 1200px) {
  .om-os-container {
    flex-direction: column;
    margin: 0 auto;
  }

  .om-os-container p,
  .om-os-container h1 {
    text-align: center;
    margin: 0 auto;
  }

  .om-os-container p {
    line-height: 1.8;
    text-align: start;
    margin-bottom: 5px;
  }

  .om-os-container img {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
}

/*Åbningstider*/
.opening-hours-container {
  background-color: rgb(245, 243, 243);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;

  padding-bottom: 100px;
  text-align: center;
}

.opening-hours-container h1 {
  font-size: 4rem;
  font-weight: bold;
  padding: 48px;
  display: flex;
  text-align: center;
}

.opening-hours {
  display: flex;
  flex-direction: column;
  border: 5px solid skyblue;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  width: 400px;
  height: auto;
  padding: 5px;
  align-items: center;
}

.opening-hours h2 {
  font-size: 2.5rem;
  text-align: center;
}

.opening-hours ul {
  margin-left: 70px;
  display: inline-block;
}

.opening-hours ul li {
  font-size: 1.6rem;
  align-items: center;
  text-align: center;
}
