* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Catamaran", sans-serif;
}

nav {
  background-color: white;
  height: 70px;
  width: 1000px;
  border-radius: 50px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}

nav ul {
  display: flex;
  align-items: center;

  justify-content: center;

  list-style: none;
  text-decoration: none;
  margin: 0 auto;
}

nav ul li {
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0 auto;
  font-weight: 600;
  color: black;
}

nav a:not(.logo):hover {
  border-radius: 10px skyblue;
  padding: 4px 20px;
}

nav a:not(.logo) {
  display: inline-block;
  padding: 4px 20px;
  transition: background-color 0.3s;
}

nav img {
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
}

nav ul li:nth-child(1) {
  margin-right: auto;
  margin-left: 50px;
}
