* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Catamaran", sans-serif;
}

nav {
  background-color: white;
  height: 70px;
  width: 100%;
  margin-top: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

nav ul li {
  text-decoration: none;
  font-size: 1.8rem;
  margin: 0 auto;

  font-weight: 600;
  color: black;
}

nav a:not(.logo):not(.btn-contact) {
  display: inline-block;
  padding: 4px 20px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s;
}

nav a:not(.logo):not(.btn-contact):hover {
  border-color: skyblue;
}

nav img {
  height: 50px;
  width: 50px;
  margin-top: 5px;
}

.btn-contact {
  font-size: 1.6rem;
  font-weight: 600;
  display: inline-block;
  background-color: skyblue;
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  text-align: center;
  border-radius: 10px;
}

.btn-contact:hover {
  background-color: rgb(102, 163, 188);
}

/*header*/
.header {
  background-color: skyblue;
  width: 100%;
  height: 649px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header h1 {
  font-size: 4.5rem;
  margin: 180px 0 10px 0;
}

.header p {
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.header .btn-contact {
  width: 150px;
  align-items: center;
  margin: 0 auto;
  background-color: white;
  color: black;
  display: inline-block;

  border: 2px solid transparent;
  border-radius: 10px;
  transition: border-color 0.3s;
}

.header .btn-contact:hover {
  color: skyblue;
  border-color: skyblue;
}

.custom-shape-divider-bottom-1712132351 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1712132351 svg {
  position: relative;
  display: block;
  width: calc(182% + 1.3px);
  height: 70px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1712132351 .shape-fill {
  fill: #f3f2f2;
}

/*About us*/
.about-us {
  width: 100%;
  background-color: #f3f2f2;
  height: 650px;
  display: flex;
  gap: 30px;
  padding: 0 50px;
}

.about-us div {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.about-us h2 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 15px;
}

.about-us p {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 10px;
}

.about-us img {
  margin-top: 100px;
  height: 50%;
  width: 50%;
}

.about-us .btn-contact {
  width: 150px;
  margin: 0 auto;
  margin-top: 10px;
}
